<!DOCTYPE html>
{% if site.active_lang != site.default_lang %}
{% assign lang = site.active_lang %}
{% else %}
{% assign lang = site.default_lang %}
{% endif %}
<html lang="{{ lang }}">

{% include head.html %}

<body>

  <!-- begin global wrap -->
  <div class="global-wrap">

    {% include header-entry.html %}

    <!-- begin content -->
    <main class="content" aria-label="Content">
      {{ content }}
    </main>
    <!-- end content -->
  </div>
  <!-- end global wrap -->

  <script src="{{ site.baseurl }}/js/scripts.js"></script>
  <script src="{{ site.baseurl }}/js/common.js"></script>

</body>

</html>